#screenCanvas {
	border:1px solid #000000; background-color:#555;
	display: block;
	margin: 5% auto 0;
}

html, body, #mobileMain {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#mobileCanvas { 
	background-color:#555;
	display: block;
}

#mobileOverlay {
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 90%); 
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 90%); 
	background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 90%);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
}

#playBtn {
	position: relative;
	width: 60px;
	height: 36px;
	top: 65%;
	left: 50%;
	margin: -18px -30px;
	-moz-box-shadow: 0px 1px 0px 0px #1c1b18;
	-webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
	box-shadow: 0px 1px 0px 0px #1c1b18;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	background-color: #cc0000;
	border: 1px solid #990000;
	color: #fff;
	font-weight: bold;
	display: block;
}

#btnWrapper {
	position: absolute;
	top: 20%;
	left: 3%;
	width: 3%;
	height: 60%;
}
#btnWrapper button {
	width: 40px;
	height: 40px;
	border-radius: 4px;
	border: 1px solid #333;
	margin: 7px 0;
}

#a {
	background-color: #00ff00;
}
#b {
	background-color: #00ffff;
}
#c {
	background-color: #ffff00;
}
#d {
	background-color: #cc0099;
}


#nameInput {
	position: absolute;
	left: 50%;
	top: 45%;
	width: 170px;
	height: 22px;
	margin: 0px -85px;
	border-color: #cc0000;
    border-radius: 10px;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 0 7px 0 rgba(42, 42, 42, 0.58);
    font-size: 16px;
    padding: 6px;
}

