#screenCanvas {
	border:1px solid #000000; background-color:#555;
	display: block;
	margin: 5% auto 0;
}

html, body, #mobileMain {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#mobileCanvas { 
	background-color:#555;
	display: block;
}

#mobileOverlay {
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 90%); 
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 90%); 
	background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 90%);
	width: 100%;
	height: 100%;
	position: absolute;
}

#playBtn {
	position: relative;
	width: 100px;
	height: 50px;
	top: 50%;
	left: 50%;
	margin: -25px -50px;
	-moz-box-shadow: 0px 1px 0px 0px #1c1b18;
	-webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
	box-shadow: 0px 1px 0px 0px #1c1b18;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	background-color: #cc0000;
	border: 1px solid #990000;
	color: #fff;
	font-weight: bold;
	display: block;
}

#btnWrapper {
	position: absolute;
	top: 20%;
	left: 3%;
	width: 3%;
	height: 60%;
}
#btnWrapper button {
	width: 40px;
	height: 40px;
	border-radius: 4px;
	border: 1px solid #333;
	margin: 7px 0;
}

#a {
	background-color: #00ff00;
}
#b {
	background-color: #00ffff;
}
#c {
	background-color: #ffff00;
}
#d {
	background-color: #cc0099;
}



